<!DOCTYPE html>
<html>
    <head>
        <title>Ankit Patel</title>
        <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>  
    <h1> This is Simple Authentication Demo Application</h1>