
<% include ./partials/header%>
<div class="center">
    <h1>  This is Home Page </h1>
        <a class="btn" href="/register">Sign Up</a> 
        <a class="btn" href="/login">login Up</a> 
        <a class="btn" href="/logout">logout</a>
</div>
<% include ./partials/footer %>


