<% include ./partials/header%>
<div class="center">
  <h1>Welcome To Login Page </h1>
  <form  action="/login" method="POST" class="form-group">
    <input type="text" class="form-control input" name="username" placeholder=" Username">
    <input type="password" class="form-control input" name="password" placeholder=" Password"><br>
    <button type="submit" class="btn">Submit</button> 
  </form>
  <br>
        <a class="btn" href="/register">Sign Up</a> 
        <a class="btn" href="/login">login</a> 
        <a class="btn" href="/logout">logout</a>
</div>
<% include ./partials/footer %>






