<% include ./partials/header%>
<div class="center">
    <h1> This is Secret Page</h1>
    <p>You Found Me...</P>
        <a href="Resume_Ankit Patel.pdf" id="detail">More Details About Me</a><br><br>
        <a class="btn" href="/register">Sign Up</a> 
        <a class="btn" href="/login">login</a> 
        <a class="btn" href="/logout">logout</a>
</div>
<% include ./partials/footer %>
